@media (min-width: 768px) {
    .container{
        width:750px;
    }
}
@media (min-width: 992px) {
    .container{
        width:970px;
    }
}
@media (min-width: 1200px) {
    .container{
        width:1170px;
    }
}
@media (min-width: 1600px) {
    .container{
        width:1440px;
    }
}
@media (min-width: 1920px) {
    .container{
        width:1600px;
    }
}
input[invalid] {
    border-color: orangered;
    border-style: solid;
    border-width: thin;
    color: orangered;
}
input[invalid]:focus {
    border-color: orangered;
    border-style: solid;
    border-width: thin;
    color: orangered;
    box-shadow: 0 0 6px darkred;
}

#id_config_panel div[textual] {
  margin-bottom: 20px;
}
#id_parList .input-group {
  margin-bottom: 12px;
}
#id_parList .input-group-addon {
  width: 30%;
  padding: 3px 6px;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-text {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.transparent {
  color: transparent;
}
#id_csvFileInput {
  visibility: hidden;
  position: absolute;
}
#id_summary {
  display: none;
}
#col_par div,
#col_LB div,
#col_UB div {
  height: 5vh;
}
#col_par h5 {
  margin: 0px;
  padding-top: 1vh; 
}
#fixed-pane {
    position: fixed;
    bottom: 3vh;
    right: 0;
    width: 8vw;
}

/********** The switch - the box around the slider **********/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 21px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.btnslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.btnslider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .btnslider {
  background-color: #2196F3;
}

input:focus + .btnslider {
  box-shadow: 0 0 3px #2196F3;
}

input:checked + .btnslider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

/* Rounded sliders */
.btnslider.round {
  border-radius: 21px;
}

.btnslider.round:before {
  border-radius: 50%;
}
/********** Switcher END **********/


/********** Date slider **********/
#id_date_slider {
  position: absolute;
  width: 75%;
  height: auto;
  background: #3071A9;
}
#id_date_slider:focus {
  outline: none;
}

/* Serve as background of the date slider*/
#id_greybarslider {
  background: white;
}
/********** Date slider END **********/


/********** Schema svg (after transformation) **********/
#id_tab_schema {
  position: relative;
}
#id_schema_overlay {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

#id_schema_overlay input {
  width: 10%;
  visibility: hidden;
  transition: all 0.5s ease-in-out 0.2s;
}
#id_schema_overlay span:hover + input {
  width: 40%;
  visibility: visible;
  transition: all 0.5s ease-in-out 0s;
}
#id_schema_overlay input:hover {
  width: 40%;
  visibility: visible;
  transition: all 0.5s ease-in-out 0s;
}
#id_schema_overlay input:focus {
  width: 40%;
  visibility: visible;
  transition: all 0.5s ease-in-out 0s;
}

#id_schema_overlay input[invalid] {
  width: 40%;
  visibility: visible;
}

/*  ****** chores ****** */
#id_schema_innerdiv {
  position: relative;
}

#id_schema_innerdiv .input-group {
  height: 1.1vw;
  line-height: 1.1vw;
  font-size: 0.7vw;
}
#id_schema_innerdiv .input-group .form-control {
  height: 1.25vw;
  line-height: 1vw;
  font-size: 0.75vw;
}
#id_schema_innerdiv .input-group-addon {
  width: 20%;
  padding: 0.133vw 0.133vw;
  font-size: 0.8vw;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 0.125vw dotted #0e9;
  border-radius: 0.25vw;
}
#id_schema_innerdiv .input-group-addon.st{
  width: 20%;
  padding: 0.133vw 0.133vw;
  font-size: 0.8vw;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 0.125vw dotted #ef6128;
  border-radius: 0.25vw;
}
#id_schema_innerdiv div {
  position: absolute;
}

#id_div_sfcf {
  margin-top: 21%;
  left: 18%;
}
#id_div_rfcf {
  margin-top: 21%;
  left: 39.2%;
  z-index: 1;
}
#id_div_utt {
  margin-top: 2.2%;
  left: 86%;
}
#id_div_ltt {
  margin-top: 8.2%;
  left: 86%;
}
#id_div_etf {
  margin-top: 18.8%;
  left: 80%;
  z-index: 2;
}
#id_div_e_corr {
  margin-top: 24.8%;
  left: 80%;
}
#id_div_cwh {
  margin-top: 39%;
  left: 15%;
}
#id_div_cfr {
  margin-top: 39%;
  left: 29%;
}
#id_div_cfmax {
  margin-top: 30%;
  left: 27%;
}
#id_div_ttm {
  margin-top: 33%;
  left: 49%;
  z-index: 2;
}
#id_div_fc {
  margin-top: 45%;
  left: 87%;
}
#id_div_lp {
  margin-top: 58%;
  left: 87%;
}

#id_div_beta {
  margin-top: 74%;
  left: 87%;
}

#id_div_c_flux {
  margin-top: 85%;
  left: 60%;
}
#id_div_alpha {
  margin-top: 124.5%;
  left: 72.5%;
}
#id_div_k {
  margin-top: 132%;
  left: 73.5%;
}
#id_div_perc {
  margin-top: 127%;
  left: 32.5%;
}
#id_div_k1 {
  margin-top: 152%;
  left: 67%;
}
#id_div_mbas {
  margin-top: 153.8%;
  left: 90%;
}

/***** states *****/
#id_div_wc {
  margin-top: 32%;
  left: 0;
  z-index: -1;
}
#id_div_sp {
  margin-top: 39%;
  left: 0;
  z-index: -1;
}
#id_div_sm {
  margin-top: 66%;
  left: 0;
  z-index: -1;
}
#id_div_uz {
  margin-top: 105%;
  left: 0;
  z-index: -1;
}
#id_div_lz {
  margin-top: 148%;
  left: 0;
  z-index: -1;
}
#id_div_area {
  margin-top: 100%;
  left: 87%;
}
#id_div_tfac {
  margin-top: 108%;
  left: 87%;
}
/***** states END*****/
/*  ****** chores ****** */
/********** Schema svg (after transformation) END **********/

/* Processing indicator (Forked from Dave McCarthy) */
.loadercontainer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  font-family: Helvetica;
  z-index: 99999;
  display: none;
}
.loaderdiv {
  height: 180px;
  width: 320px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  border-radius: 10%;
  z-index: -1;
}
#ajax_error_container {
  height: 180px;
  width: 320px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  border-radius: 10%;
  display: none;
}
.loader {
  height: 20px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 70px auto;
}
.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}
.loader--dot:first-child {
  background-color: #8cc759;
  animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
  background-color: #8c6daf;
  animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
  background-color: #ef5d74;
  animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
  background-color: #f9a74b;
  animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
  background-color: #60beeb;
  animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
  background-color: #fbef5a;
  animation-delay: 0s;
}
.loader--text {
  position: absolute;
  top: 200%;
  left: -10%;
  right: 0;
  width: 4rem;
  margin: auto;
}
.loader--text:after {
  content: "Processing";
  font-weight: bold;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}
@keyframes loading-text {
  0% {
    content: "Processing";
  }
  25% {
    content: "Processing.";
  }
  50% {
    content: "Processing..";
  }
  75% {
    content: "Processing...";
  }
}
/* Processing indicator ENDs */

/* Table */
/* Table END */