.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-text {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
@media (min-width: 768px) {
    .container{
        width:750px;
    }
}

@media (min-width: 992px) {
    .container{
        width:970px;
    }
}
@media (min-width: 1200px) {
    .container{
        width:1170px;
    }
}
@media (min-width: 1920px) {
    .container{
        width:1600px;
    }
}
#id_csvFileInput {
  visibility: hidden;
  position: absolute;
}
#id_summary {
  display: none;
}