{% extends 'hbvapp/layout.html' %}

{% block body %}

	<script type="text/javascript">
		var render_text = function(csvFile, onLoadCallback){
			var reader = new FileReader();
			reader.onload = onLoadCallback;
			reader.readAsText(csvFile);
		}

		$(document).ready(function(){

			/*  */
			markupInputWidgets();
			window.hbv = new HBV();
			hbv.s.init_animation();
			$("rect[name='wid']").hover(toggleHover);
			/*  */

			d3.select("#id_time_slider")
				.on("input", function(){
		    	var index = parseInt(this.value);
		    	hbv.s.point_to(index);
		    	hbv.d.show(index);
			  });

			/* File input helper */
			$("#id_browse").on('click', function(){
				$("#id_loadStatus").html("");
				$("#id_summary").fadeOut(600);
				$("#id_csvFileInput").val("");
			  $("#id_csvFileInput").trigger('click');
			});
			/* File input helper END */

			/* Collapse helper */
			$('#id_parList .panel-primary').on('click', function () {
				var thisdiv = ($(this).find(":nth-child(2)"));
				var thiselm = thisdiv[0];
			  $(thiselm).collapse('show');
			});
			/* Collapse helper END */

			/* Reading data file jQuery */
			$("#id_csvFileInput").on("change", function(e){
				$("#id_fileNamePlaceHolder").val($(this).val().replace(/C:\\fakepath\\/i, ''));
				render_text(this.files[0], function(e){
					var text = e.target.result;
					var success = false;
					try{
						hbv.d.initialize(text);
						success = true;
			      $("#id_loadStatus").html('<span class="text-success"><i class="glyphicon glyphicon-ok"></i></span>');
			      $("#id_summary").fadeIn(600);
					}
				  catch (ex) {
				    alert(ex.message);
				    throw ex;
				  }
				  finally {
				    enable_timepickers(success);
				  }
					$.ajax({
						url: "",
						type: "POST",
						async: true,
						data: {'data': JSON.stringify(hbv.d.init_data), 
							'action': 'load_file'},
					});
				});
			});
			/* Reading data file jQuery END */

			/* Load setup file (context) jQuery */
			$("#load_setup").on("click", function(){
				$("#id_setup_file_input").val("");
				$("#id_setup_file_input").trigger("click");
			});

			$("#id_setup_file_input").on("change", function(e){
				render_text(this.files[0], function(e){
					var context = JSON.parse(e.target.result);
					var success = false;
					try{
						hbv.c.changeWhenLoad(context);
						success = true;
						alert("Success !");
					}
				  catch (ex) {
				    alert(ex.message);
				    throw ex;
				  }
				});
			});
			/* Load setup file (context) jQuery END */

			/* Summarizing file jQuery */
			$("#id_summary").on("click", function(e){
				$.ajax({
					url: "",
					type: "POST",
					async: true,
					data: {'action': 'summarize'},
					success: function(data){
						var str = JSON.parse(data.summary);
						var div = $("#summary_modal_body");
						output(str, div);
						$("#summary_modal").modal("show");
					}
				});
			});
			/* Summarizing file END */

			/* Calibration jQuery */
			$("#id_calibrate").on("click", function(){
				var action = 'calibrate';
				var config = generate_config_dict();
				var par = generate_par_dict(action);
				var st = generate_st_dict();
				$(".loadercontainer").fadeIn(200); //Show progressing loader
				$.ajax({
					url: "",
					type: "POST",
					async: true,
					data: {'config': JSON.stringify(config),
								'par': JSON.stringify(par),
								'st': JSON.stringify(st),
								'data': JSON.stringify(hbv.d.init_data),
								'action': action},
					success: function(data){
						show_calibrated_par(data.par);
						hbv.d.synthesize(data.data, data.inters);
						hbv.p.init();
						hbv.s.init_slider();
						deploy_plots(data.plots);
						enable_timepickers_for_plots(true);
						$(".loadercontainer").fadeOut(300);
					},
					error: ajax_error
				});
			});

			/* Calibration jQuery END */

			/* Simulation jQuery */
			$("#id_simulate").on("click", function(){
				var action = 'simulate';
				var config = generate_config_dict();
				var par = generate_par_dict(action);
				var st = generate_st_dict();
				$(".loadercontainer").fadeIn(200); //Show progressing loader
				$.ajax({
					url: "",
					type: "POST",
					async: true,
					data: {'config': JSON.stringify(config),
								'par': JSON.stringify(par),
								'st': JSON.stringify(st),
								'data': JSON.stringify(hbv.d.init_data),
								'action': action},
					success: function(data){
						deploy_plots(data.plots);
						hbv.d.synthesize(data.data, data.inters);
						hbv.p.init();
						hbv.s.init_slider();
						enable_timepickers_for_plots(true);
						$(".loadercontainer").fadeOut(300);
					},
					error: ajax_error
				});
			});
			/* Simulation jQUery END */

			/* Change Context jQuery */
			$(".container input").not(":input[type=range], :input[type=file], :input[type=date], :input[just_a_box], :input[dont-listen]").on("change", hbv.c.changeWhenInput);
			/* Change Context jQuery END */

			/* ----- Date picker for calibration ----- */
			$(function () {
        $('#calibrate_from').datetimepicker({
        	format: "YYYY-MM-DD HH:mm:ss"
        });
        $('#calibrate_to').datetimepicker({
        	format: "YYYY-MM-DD HH:mm:ss",
          useCurrent: false //Important! See issue #1075
        });

        /* Date picker event handeler */
        $("#calibrate_from").on("dp.change", function(e){
        	// Prevention of file changes
        	if (e.date===false) {return undefined;}

        	var index = environ_index_of(e.date),
        			begin = moment.utc(timeof_index(index));
        	hbv.c.context.calibrate_from = {time: begin, index: index};
          $('#calibrate_to').data("DateTimePicker").minDate(begin);
          $('#calibrate_from').data("DateTimePicker").date(begin);
        });
        $("#calibrate_to").on("dp.change", function(e){
        	// Prevention of file changes
        	if (e.date===false) {return undefined;}

        	var index = environ_index_of(e.date, Math.floor),
        			end = moment.utc(timeof_index(index));
        	hbv.c.context.calibrate_to = {time: end, index: index};
          $('#calibrate_from').data("DateTimePicker").maxDate(end);
          $('#calibrate_to').data("DateTimePicker").date(end);
        });
        /* Date picker event handeler END*/
	    });

			$("#id_select_time_range").on("change", function(e){
				var div_dp = $("#timepicker_calibration");
				if (e.target.checked == true) {
					hbv.c.context.id_select_time_range = true;
					if (div_dp.attr("data-toggle")=="toggled") {
						div_dp.toggle(600);
						div_dp.attr("data-toggle", "extended");
					} else {undefined;}
				}
				else {
					hbv.c.context.id_select_time_range = false;
					if (div_dp.attr("data-toggle")=="extended") {
						div_dp.toggle(600);
						div_dp.attr("data-toggle", "toggled");
					} else {undefined;}
				}
			});
			/* ----- Date picker for calibration END ----- */

			/* ----- Date picker for Plots ----- */
			$(function () {

        $('#left').datetimepicker({
        	format: "YYYY-MM-DD HH:mm:ss"
        });
        $('#right').datetimepicker({
        	format: "YYYY-MM-DD HH:mm:ss",
          useCurrent: false //Important! See issue #1075
        });

        /* Date picker event handeler */
        $("#left").on("dp.change", function(e){
        	// Prevention of file changes
        	if (e.date===false) {return undefined;}

        	var begin = e.date.format("YYYY-MM-DD HH:mm:ss");
          $('#right').data("DateTimePicker").minDate(begin);
        });
        $("#right").on("dp.change", function(e){
        	// Prevention of file changes
        	if (e.date===false) {return undefined;}

        	var end = e.date.format("YYYY-MM-DD HH:mm:ss");
          $('#left').data("DateTimePicker").maxDate(end);
        });
        /* Date picker event handeler END*/
	    });
			/* ----- Date picker for Plots END ----- */

			/* Checkboxes for calibration eventhandler */
			$("#id_parList input[type=checkbox]").on("change", check_cali_callback);
			/* Checkboxes for calibration eventhandler END */
		});

	</script>

	<div name="title" id="id_title">
			<h1>HBV  <small>Hydrology Model</small></h1>
	</div>

	<hr>

	<div class="row" name="main" id="id_main">

		<div class="col-md-4" name="panelLeft" id="id_panelLeft">
			<div class="panel panel-primary">
  			<div class="panel-body">
  				{% include 'hbvapp/includes/_panelLeft.html' %}
  			</div>
  		</div>
		</div>

		<div class="col-md-8" name="panelRight" id="id_panelRight">
			
			<div class="row" name="operations" id="operations">

				<!-- File input group -->
				<div class="form-group col-md-4">
					<input type="file" name="csvFileInput" id="id_csvFileInput" accept="text/csv, .csv"/>
					<div class="input-group col-xs-12">
						<span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
						<input type="text" class="form-control" disabled placeholder="Select .csv file" id="id_fileNamePlaceHolder">
						<span class="input-group-btn">
							<button class="btn input" type="button" id="id_browse"><i class="glyphicon glyphicon-search"></i> Browse</button>
						</span>
					</div>
				</div>
				<!-- File input group END -->
				
				<!-- File load status ! hidden ! -->
				<div class="col-md-2">
					<span name="loadStatus" id="id_loadStatus"></span>
					<button class="btn btn-success" name="summary" id="id_summary">SUMMARY</button>
				</div>
				<!-- File load status END -->

				<div class="col-md-6 text-right">
					<!-- Simulate button -->
					<button class="btn btn-primary btn-sm" name="simulate" id="id_simulate" style="margin-right: 1vw;"><strong>SIMULATE</strong></button>
					<!-- Simulate button END -->
					
					<!-- Calibrate button -->
					<button class="btn btn-primary btn-sm" name="calibrate" id="id_calibrate"><strong>CALIBRATE</strong></button>
					<!-- Calibrate button END -->
				</div>

			</div>

			<!-- Panel on the right -->
			<div class="panel panel-info">
  			<div class="panel-body">
  				{% include 'hbvapp/includes/_panelRight.html' %}
  			</div>
  		</div><!-- /* Panel on the right -->

			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-info">
	  				<div class="panel-body">
		  				{% include 'hbvapp/includes/_panelRight_infos.html' %}
  					</div>
  				</div>
  			</div>
			</div>
		
		</div><!-- /* div.panelRight -->
	</div><!-- /* div.row.main -->

{% endblock %}