{% extends 'hbvapp/layout.html' %}

{% block body %}

	<script type="text/javascript">
		var render_text = function(csvFile, onLoadCallback){
			var reader = new FileReader();
			reader.onload = onLoadCallback;
			reader.readAsText(csvFile);
		}

		$(document).ready(function(){

			/* Initialize svg */
			schema = create_schema();
			/* Each tank is 2-3rd filled when initialized */
			schema.tanks = schema.init_animation();

			d3.select("#id_date_slider")
				.on("input", function(){
		    	var index = parseInt(this.value);
		    	schema.point_to(index);
			  });

			/* File input helper */
			$("#id_browse").on('click', function(){
				$("#id_loadStatus").html('');
				$("#id_summary").fadeOut(600);
			  $("#id_csvFileInput").trigger('click');
			});
			/* File input helper END */

			/* Reading file jQuery */
			$("#id_csvFileInput").on("change", function(e){
				$("#id_fileNamePlaceHolder").val($(this).val().replace(/C:\\fakepath\\/i, ''));
				render_text(this.files[0], function(e){
					var text = e.target.result;
					$.ajax({
						url: "",
						type: "POST",
						async: true,
						data: {'text': text, 'action': 'load_file'},
						success: function(data){
							$("#id_loadStatus").html('<i class="glyphicon glyphicon-ok"></i>');
							$("#id_loadStatus i").css("color", "green");
							$("#id_summary").fadeIn(600);
						}
					});
				});
			});
			/* Reading file jQuery END */

			/* Summarizing file jQuery */
			$("#id_summary").on("click", function(e){
				$.ajax({
					url: "",
					type: "POST",
					async: true,
					data: {'action': 'summarize'},
					success: function(data){
						$("#id_sizeDFTitle").text('Size of the file:');
						$("#id_sizeDF").text(data.size + " lines");
						$("#id_outDFHeadTitle").text("Test Output");
						$("#id_outDFHead").text(data.res_head);
					}
				});
			});
			/* Summarizing file END */

			/* Calibration jQuery ... */
			$("#id_calibrate").on("click", function(){
				var config = generate_config_dict();
				$.ajax({
					url: "",
					type: "POST",
					async: true,
					data: {'config': JSON.stringify(config),
								'action': 'calibrate'},
					success: function(data){
						show_calibrated_par(data.par);
						$("#id_sizeDFTitle").text('Size of the file:');
						$("#id_sizeDF").text(data.size + " lines");
						$("#id_outDFHeadTitle").text("Test Output");
						$("#id_outDFHead").text(data.res_head);
						deploy_plots(data.plots);
						schema.data = data.data;
						schema.bounds = data.extremes;
						init_slider();
					}
				});
			});
			/* Calibration jQuery END */

			/* Simulation jQuery ... */
			$("#id_simulate").on("click", function(){
				var config = generate_config_dict();
				var par = generate_par_dict();
				$.ajax({
					url: "",
					type: "POST",
					async: true,
					data: {'config': JSON.stringify(config),
								'par': JSON.stringify(par),
								'action': 'simulate'},
					success: function(data){
						$("#id_sizeDFTitle").text('Size of the file:');
						$("#id_sizeDF").text(data.size + " lines");
						$("#id_outDFHeadTitle").text("Test Output");
						$("#id_outDFHead").text(data.res_head);
						deploy_plots(data.plots);
						schema.data = data.data;
						schema.bounds = data.extremes;
						init_slider();
					}
				});
			});

			// $("#id_schema_overlay span").hover(
			// 	function() {
			// 		var onHover = {
			// 					width: "40%",
  	// 						visibility: "visible",
  	// 						transition: "all 0.5s ease-in-out 0s",
			// 					};
			// 		$( this ).siblings()
			// 					.css(onHover);
			// },function() {
			// 	var onLeave = {
			// 					width: "10%",
  	// 						visibility: "hidden",
  	// 						transition: "all 0.5s ease-in-out 0s",
			// 					};
			// 	$( this ).siblings()
			// 					.css(onLeave);
			// });
			/* Simulation jQUery END */
		});

	</script>

	<div name="title" id="id_title">
			<h1>HBV  <small>Hydrology Model</small></h1>
	</div>

	<hr>

	<div class="row" name="main" id="id_main">

		<div class="col-md-4" name="panelLeft" id="id_panelLeft">
			<div class="panel panel-primary">
  			<div class="panel-body">
  				{% include 'hbvapp/includes/_panelLeft.html' %}
  			</div>
  		</div>
		</div>

		<div class="col-md-8" name="panelRight" id="id_panelRight">
			
			<div class="row" name="operations" id="operations">

				<!-- File input group -->
				<div class="form-group col-md-4">
					<input type="file" name="csvFileInput" id="id_csvFileInput" accept="text/csv, .csv"/>
					<div class="input-group col-xs-12">
						<span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
						<input type="text" class="form-control" disabled placeholder="Select .csv file" id="id_fileNamePlaceHolder">
						<span class="input-group-btn">
							<button class="btn input" type="button" id="id_browse"><i class="glyphicon glyphicon-search"></i> Browse</button>
						</span>
					</div>
				</div>
				<!-- File input group END -->
				
				<!-- File load status ! hidden ! -->
				<div class="col-md-2">
					<span name="loadStatus" id="id_loadStatus"></span>
					<button class="btn btn-success" name="summary" id="id_summary">SUMMARY</button>
				</div>
				<!-- File load status END -->

				<!-- Simulate button -->
				<div class="col-md-2 col-md-offset-2 text-right">
					<button class="btn btn-primary btn-sm" name="simulate" id="id_simulate"><strong>SIMULATE</strong></button>
				</div>
				<!-- Simulate button END -->
				
				<!-- Calibrate button -->
				<div class="col-md-1 text-right">
					<button class="btn btn-primary btn-sm" name="calibrate" id="id_calibrate"><strong>CALIBRATE</strong></button>
				</div>
				<!-- Calibrate button END -->
			</div><br>

			<div class="panel panel-info">
  			<div class="panel-body">
  				{% include 'hbvapp/includes/_panelRight.html' %}
  			</div>
  		</div>
			<div>
				<p id="id_sizeDFTitle">Waiting for operation....</p>
				<span id="id_sizeDF"></span>
				<h3 id="id_outDFHeadTitle"></h3>
				<p id="id_outDFHead"></p>
			</div>
		</div>
	
	</div>

{% endblock %}