<div>
	<div id="div_datepicker_for_plots">

		<div class="row">
			<div class="col-sm-4">
				<h4 class="text-center">Current Selection</h4>
				<hr style="margin-top: 10px; margin-bottom: 20px">

				<div class="row">
					<div class="col-sm-3 text-center">
						<label style="padding-top: 0.3vw; padding-left: 0.8vw;">Start</label>
					</div>
					<div class="col-sm-9">
						<div class="form-group">
			        <div class='input-group date' id='left'>
			          <input type='text' class="form-control" disabled/>
			          <span class="input-group-addon">
			            <span class="glyphicon glyphicon-calendar"></span>
			          </span>
			        </div>
			    	</div>
					</div>
				</div><!-- /* Closest row -->

				<div class="row">
					<div class="col-sm-3 text-center">
						<label style="padding-top: 0.3vw; padding-left: 0.8vw;">End</label>
					</div>
					<div class='col-sm-9'>
			    	<div class="form-group">
			        <div class='input-group date' id='right'>
			          <input type='text' class="form-control" disabled/>
			          <span class="input-group-addon">
			            <span class="glyphicon glyphicon-calendar"></span>
			          </span>
			        </div>
			    	</div>
			    </div>
			  </div><!-- /* Closest row -->

			</div><!-- /* outter col-sm-4 -->
		</div><!-- /* outter row -->
	</div><!-- /* div_datepicker_for_plots -->
</div><!-- /* Global div -->