<div name="LeftTabs" id="id_LeftTabs">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-tabs-responsive pull-right" role="tablist">
    <li role="presentation" class="active">
			<a href="#id_tab_schema" aria-controls="id_tab_schema" role="tab" data-toggle="tab">Schema</a>
    </li>

    <li role="presentation">
			<a href="#id_parList_tab" aria-controls="id_parList_tab" role="tab" data-toggle="tab">List</a>
    </li>
	</ul>
	<h4><strong>Model Parameters</strong></h4>
	<hr>

	<!-- Tab Content -->
	<div class="tab-content">
	  
	  <div role="tabpanel" class="tab-pane fade in active" id="id_tab_schema">
  		<div id="id_schema_overlay">
	  		<div id="id_schema_innerdiv">

			  	<div id="id_div_ltt">
					  <input type="text" name="ltt" id="id_ltt" value='' class="form-control" onchange="check_float.call(this);">
					</div>

					<div id="id_div_utt">
					  <input type="text" name="utt" id="id_utt" value='' class="form-control" onchange="check_float.call(this);">
					</div>

					<div id="id_div_ttm">
					  <input type="text" name="ttm" id="id_ttm" value='' class="form-control" onchange="check_float.call(this);">
					</div>

					<div id="id_div_cfmax">
					  <input type="text" name="cfmax" id="id_cfmax" value='' class="form-control" onchange="check_float.call(this);">
					</div>

					<div id="id_div_fc">
					  <input type="text" name="fc" id="id_fc" value='' class="form-control" onchange="check_float.call(this);">
					</div>

					<div id="id_div_e_corr">
					  <input type="text" name="e_corr" id="id_e_corr" value='' class="form-control" onchange="check_float.call(this);">
					</div>

					<div id="id_div_etf">
					  <input type="text" name="etf" id="id_etf" value='' class="form-control" onchange="check_float.call(this);">
					</div>

					<div id="id_div_lp">
					  <input type="text" name="lp" id="id_lp" value='' class="form-control" onchange="check_float.call(this);">
					</div>

					<div id="id_div_k">
					  <input type="text" name="k" id="id_k" value='' class="form-control" onchange="check_float.call(this);">
					</div>

					<div id="id_div_k1">
					  <input type="text" name="k1" id="id_k1" value='' class="form-control" onchange="check_float.call(this);">
					</div>

					<div id="id_div_alpha">
					  <input type="text" name="alpha" id="id_alpha" value='' class="form-control" onchange="check_float.call(this);">
					</div>

					<div id="id_div_beta">
					  <input type="text" name="beta" id="id_beta" value='' class="form-control" onchange="check_float.call(this);">
					</div>

					<div id="id_div_cwh">
					  <input type="text" name="cwh" id="id_cwh" value='' class="form-control" onchange="check_float.call(this);">
					</div>

					<div id="id_div_cfr">
					  <input type="text" name="cfr" id="id_cfr" value='' class="form-control" onchange="check_float.call(this);">
					</div>

					<div id="id_div_c_flux">
					  <input type="text" name="c_flux" id="id_c_flux" value='' class="form-control" onchange="check_float.call(this);">
					</div>

					<div id="id_div_perc">
					  <input type="text" name="perc" id="id_perc" value='' class="form-control" onchange="check_float.call(this);">
					</div>

					<div id="id_div_rfcf">
					  <input type="text" name="rfcf" id="id_rfcf" value=''class="form-control" onchange="check_float.call(this);">
					</div>

					<div id="id_div_sfcf">
					  <input type="text" name="sfcf" id="id_sfcf" value='' class="form-control" onchange="check_float.call(this);">
			  	</div>

					<div id="id_div_mbas">
					  <input type="text" name="mbas" id="id_mbas" value='' class="form-control" onchange="check_float.call(this);">
			  	</div>

					<div id="id_div_sp">
					  <input type="text" name="sp" id="id_sp" value='' class="form-control" onchange="check_float.call(this);" st>
			  	</div>

					<div id="id_div_wc">
					  <input type="text" name="wc" id="id_wc" value='' class="form-control" onchange="check_float.call(this);" st>
			  	</div>
			  	
					<div id="id_div_sm">
					  <input type="text" name="sm" id="id_sm" value='' class="form-control" onchange="check_float.call(this);" st>
			  	</div>

					<div id="id_div_uz">
					  <input type="text" name="uz" id="id_uz" value='' class="form-control" onchange="check_float.call(this);" st>
			  	</div>

					<div id="id_div_lz">
					  <input type="text" name="lz" id="id_lz" value='' class="form-control" onchange="check_float.call(this);" st>
			  	</div>

					<div id="id_div_area">
					  <input type="text" name="area" id="id_area" value="" class="form-control" onchange="check_float.call(this);">
			  	</div>

					<div id="id_div_tfac">
					  <input type="text" name="tfac" id="id_tfac" value='' class="form-control" onchange="check_float.call(this);">
			  	</div>
			  </div>
			</div>

  		<div id="id_schema_schema">
  			<div class="col-sm-12 col-md-12 col-lg-12" id="id_div_schema" style="padding: 0 5px 0 5px;">
  				<img src="/static/img/tanks.svg" class="svg" id="id_schema" alt="Schematic HBV" style="width: 100%; height: auto;">
  			</div>
  		</div>
	  </div>

	  <div role="tabpanel" class="tab-pane fade" id="id_parList_tab">

	  <!-- ************************************************************** -->
			<div class="panel-group" id="id_parList" role="tablist" aria-multiselectable="true" style="margin-bottom: 0;">

		  	<div class="panel panel-primary">
			  	<div class="panel-heading" role="tab" id="headingCommon">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#id_parList" href="#collapseCommon" aria-expanded="true" aria-controls="collapseCommon">
	          		<strong> # Common Parameters</strong>
			        </a>
			      </h4>
			    </div>
			    <div id="collapseCommon" class="panel-collapse collapse in active" role="tabpanel" aria-labelledby="headingCommon">
						<div class="panel-body">
						  <div class="row">

								<div class="col-md-6">
									<div class="input-group" id="id_area">
									  <span class="input-group-addon" id="addon-area">Area</span>
									  <input type="text" name="area" id="id_area" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-area" par>
							  	</div>
							  </div>
							  <div class="col-md-6">
									<div class="input-group" id="id_tfac">
									  <span class="input-group-addon" id="addon-tfac">TFAC</span>
									  <input type="text" name="tfac" id="id_tfac" value="24" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-tfac" par>
							  	</div>
						  	</div>

						  </div>
					  </div>
				  </div>
				</div>

		  	<div class="panel panel-primary">
			  	<div class="panel-heading" role="tab" id="headingPrec">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#id_parList" href="#collapsePrec" aria-expanded="true" aria-controls="collapsePrec">
	          		<strong> # Precipitation &amp; Snow Routine</strong>
			        </a>
			      </h4>
			    </div>
			    <div id="collapsePrec" class="panel-collapse collapse in active" role="tabpanel" aria-labelledby="headingPrec">
					  <div class="panel-body">
						  <div class="row">
							  <div class="col-md-6">

							    <div class="input-group" id="id_sp">
									  <span class="input-group-addon" id="addon-sp">SP</span>
									  <input type="text" name="sp" id="id_sp" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-sp" st>
							  	</div>

									<div class="input-group" id="id_wc">
									  <span class="input-group-addon" id="addon-wc">WC</span>
									  <input type="text" name="wc" id="id_wc" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-wc" st>
							  	</div>

									<div class="input-group">
									  <span class="input-group-addon" id="addon-rfcf">RFCF</span>
									  <input type="text" name="rfcf" id="id_rfcf" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-rfcf" par checked>
									  <span class="input-group-addon" style="width: 10%;">
							        <input type="checkbox" checked just_a_box>
							      </span>
									</div>

									<div class="input-group">
									  <span class="input-group-addon" id="addon-sfcf">SFCF</span>
									  <input type="text" name="sfcf" id="id_sfcf" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-sfcf" par checked>
									  <span class="input-group-addon" style="width: 10%;">
							        <input type="checkbox" checked just_a_box>
							      </span>
									</div>

									<div class="input-group">
									  <span class="input-group-addon" id="addon-ltt">LTT</span>
									  <input type="text" name="ltt" id="id_ltt" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-ltt" par checked>
									  <span class="input-group-addon" style="width: 10%;">
							        <input type="checkbox" checked just_a_box>
							      </span>
									</div>

							  </div>
								<div class="col-md-6">
									<div class="input-group">
									  <span class="input-group-addon" id="addon-utt">UTT</span>
									  <input type="text" name="utt" id="id_utt" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-utt" par checked>
									  <span class="input-group-addon" style="width: 10%;">
							        <input type="checkbox" checked just_a_box>
							      </span>
									</div>

									<div class="input-group">
									  <span class="input-group-addon" id="addon-ttm">TTM</span>
									  <input type="text" name="ttm" id="id_ttm" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-ttm" par checked>
									  <span class="input-group-addon" style="width: 10%;">
							        <input type="checkbox" checked just_a_box>
							      </span>
									</div>

									<div class="input-group">
									  <span class="input-group-addon" id="addon-cfmax">CFMAX</span>
									  <input type="text" name="cfmax" id="id_cfmax" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-cfmax" par checked>
									  <span class="input-group-addon" style="width: 10%;">
							        <input type="checkbox" checked just_a_box>
							      </span>
									</div>

									<div class="input-group">
									  <span class="input-group-addon" id="addon-cwh">CWH</span>
									  <input type="text" name="cwh" id="id_cwh" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-cwh" par checked>
									  <span class="input-group-addon" style="width: 10%;">
							        <input type="checkbox" checked just_a_box>
							      </span>
									</div>

									<div class="input-group">
									  <span class="input-group-addon" id="addon-cfr">CFR</span>
									  <input type="text" name="cfr" id="id_cfr" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-cfr" par checked>
									  <span class="input-group-addon" style="width: 10%;">
							        <input type="checkbox" checked just_a_box>
							      </span>
									</div>
							  </div>
						  </div>
					  </div>
				  </div>
				</div>

		  	<div class="panel panel-primary">
			  	<div class="panel-heading" role="tab" id="headingSoil">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#id_parList" href="#collapseSoil" aria-expanded="true" aria-controls="collapseSoil">
	          		<strong> # Soil Routine</strong>
			        </a>
			      </h4>
			    </div>
			    <div id="collapseSoil" class="panel-collapse collapse in active" role="tabpanel" aria-labelledby="headingSoil">
					  <div class="panel-body">
						  <div class="row">
							  <div class="col-md-6">
									<div class="input-group" id="id_sm">
										<span class="input-group-addon" id="addon-sm">SM</span>
									  <input type="text" name="sm" id="id_sm" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-sm" st>
							  	</div>
							  	
							  	<hr style="margin-top: 30px; margin-bottom: 27px; border-top: 2px solid #eeeeee;">

									<div class="input-group">
									  <span class="input-group-addon" id="addon-fc">FC</span>
									  <input type="text" name="fc" id="id_fc" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-fc" par checked>
									  <span class="input-group-addon" style="width: 10%;">
							        <input type="checkbox" checked just_a_box>
							      </span>
									</div>

									<div class="input-group">
									  <span class="input-group-addon" id="addon-e_corr">ECORR</span>
									  <input type="text" name="e_corr" id="id_e_corr" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-e_corr" par checked>
									  <span class="input-group-addon" style="width: 10%;">
							        <input type="checkbox" checked just_a_box>
							      </span>
									</div>

								</div>

								<div class="col-md-6">
									<div class="input-group">
									  <span class="input-group-addon" id="addon-etf">ETF</span>
									  <input type="text" name="etf" id="id_etf" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-etf" par checked>
									  <span class="input-group-addon" style="width: 10%;">
							        <input type="checkbox" checked just_a_box>
							      </span>
									</div>

									<div class="input-group">
									  <span class="input-group-addon" id="addon-lp">LP</span>
									  <input type="text" name="lp" id="id_lp" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-lp" par checked>
									  <span class="input-group-addon" style="width: 10%;">
							        <input type="checkbox" checked just_a_box>
							      </span>
									</div>

									<div class="input-group">
									  <span class="input-group-addon" id="addon-beta">BETA</span>
									  <input type="text" name="beta" id="id_beta" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-beta" par checked>
									  <span class="input-group-addon" style="width: 10%;">
							        <input type="checkbox" checked just_a_box>
							      </span>
									</div>

									<div class="input-group">
									  <span class="input-group-addon" id="addon-c_flux">C-FLUX</span>
									  <input type="text" name="c_flux" id="id_c_flux" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-c_flux" par checked>
									  <span class="input-group-addon" style="width: 10%;">
							        <input type="checkbox" checked just_a_box>
							      </span>
									</div>

							  </div>
							</div>
						</div>
					</div>
				</div>

		  	<div class="panel panel-primary" >
			  	<div class="panel-heading" role="tab" id="headingResponse">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#id_parList" href="#collapseResponse" aria-expanded="true" aria-controls="collapseResponse">
	          		<strong> # Response Routine</strong>
			        </a>
			      </h4>
			    </div>
			    <div id="collapseResponse" class="panel-collapse collapse in active" role="tabpanel" aria-labelledby="headingResponse">
					  <div class="panel-body">
						  <div class="row">
							  <div class="col-md-6">

									<div class="input-group" id="id_uz">
									  <span class="input-group-addon" id="addon-uz">UZ</span>
									  <input type="text" name="uz" id="id_uz" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-uz" st>
							  	</div>

									<div class="input-group" id="id_lz">
									  <span class="input-group-addon" id="addon-lz">LZ</span>
									  <input type="text" name="lz" id="id_lz" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-lz" st>
							  	</div>

							  	<hr style="margin-top: 30px; margin-bottom: 27px; border-top: 2px solid #eeeeee;">

									<div class="input-group">
									  <span class="input-group-addon" id="addon-k">K</span>
									  <input type="text" name="k" id="id_k" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-k" par checked>
									  <span class="input-group-addon" style="width: 10%;">
							        <input type="checkbox" checked just_a_box>
							      </span>
									</div>

								</div>

								<div class="col-md-6">
									<div class="input-group">
									  <span class="input-group-addon" id="addon-mbas">MBAS</span>
									  <input type="text" name="mbas" id="id_mbas" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-mbas" par>
							  	</div>

									<div class="input-group">
									  <span class="input-group-addon" id="addon-k1">K1</span>
									  <input type="text" name="k1" id="id_k1" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-k1" par checked>
									  <span class="input-group-addon" style="width: 10%;">
							        <input type="checkbox" checked just_a_box>
							      </span>
									</div>

									<div class="input-group">
									  <span class="input-group-addon" id="addon-alpha">ALPHA</span>
									  <input type="text" name="alpha" id="id_alpha" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-alpha" par checked>
									  <span class="input-group-addon" style="width: 10%;">
							        <input type="checkbox" checked just_a_box>
							      </span>
									</div>

									<div class="input-group">
									  <span class="input-group-addon" id="addon-perc">PERC</span>
									  <input type="text" name="perc" id="id_perc" value="" class="form-control" onchange="check_float.call(this);" aria-describedby="addon-perc" par checked>
									  <span class="input-group-addon" style="width: 10%;">
							        <input type="checkbox" checked just_a_box>
							      </span>
									</div>

							  </div>
							
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Tab Panel END -->
		</div>
	</div>
	<!-- Tab Content END -->
</div>
