<div name="mainTabs" id="id_mainTabs">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-tabs-responsive pull-right" role="tablist">
    <li role="presentation" class="active">
			<a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a>
    </li>

    <!-- Plots dropdown menu -->
    <li role="presentation" class="dropdown">

			<a href="#" id="plotsDropDown" aria-controls="plotsDropDownContent" class="dropdown-toggle" data-toggle="dropdown">Plots
				<span class="caret"></span>
			</a>

			<ul class="dropdown-menu" role="menu" aria-labelledby="plotsDropDown" id="plotsDropDownContent">
				<li>
					<a href="#id_pane_plot_q" tabindex="-1" role="tab" id="id_dropdown_plot_q" data-toggle="tab" aria-controls="id_pane_plot_q">DISCHARGE</a>
				</li>
				<li>
					<a href="#id_pane_plot_p" tabindex="-1" role="tab" id="id_dropdown_plot_p" data-toggle="tab" aria-controls="id_pane_plot_p">PRECIPITATION</a>
				</li>
				<li>
					<a href="#id_pane_plot_t" tabindex="-1" role="tab" id="id_dropdown_plot_t" data-toggle="tab" aria-controls="id_pane_plot_t">AIR TEMPERATURE</a>
				</li>
				<li>
					<a href="#id_pane_plot_etp" tabindex="-1" role="tab" id="id_dropdown_plot_etp" data-toggle="tab" aria-controls="id_pane_plot_etp">EVAPORATION</a>
				</li>
				<li>
					<a href="#id_pane_plot_gw" tabindex="-1" role="tab" id="id_dropdown_plot_gw" data-toggle="tab" aria-controls="id_pane_plot_gw">GROUNDWATER</a>
				</li>
				<li>
					<a href="#id_pane_plot_st" tabindex="-1" role="tab" id="id_dropdown_plot_st" data-toggle="tab" aria-controls="id_pane_plot_st">STATES</a>
				</li>
				<li>
					<a href="#id_pane_plot_perf" tabindex="-1" role="tab" id="id_dropdown_plot_perf" data-toggle="tab" aria-controls="id_pane_plot_perf">PERFORMANCE</a>
				</li>
				<li>
					<a href="#" id="id_plot_all">ALL</a>
				</li>
			</ul>
   	</li>
   	<!-- Plots dropdown menu END-->


    <li role="presentation">
			<a href="#id_history" aria-controls="id_history" role="tab" data-toggle="tab">History</a>
    </li>

    <li role="presentation">
			<a href="#id_config_panel" aria-controls="id_config_panel" role="tab" data-toggle="tab">Configurations</a>
    </li>
  </ul>
  <h4 class="transparent"><strong>MAIN</strong></h4>
  <hr>

  <!-- Tab panes -->
	<div class="tab-content">

	<!-- -->
	  <div role="tabpanel" class="tab-pane fade in active" id="home">

	  	<div class="row">
				<div class="col-sm-3">
					<label>Snow Routine</label>
				</div>

				<div class="col-sm-1 text-right">
					<label class="switch">
					  <input type="checkbox" name="snow" id="id_snow" value="boolean" checked>
					  <span class="btnslider round"></span>
					</label>
				</div>
	  	</div>

	  	<div class="row">
				<div class="col-sm-3">
					<label>Calibrate all parameters</label>
				</div>

				<div class="col-sm-1 text-right">
					<label class="switch">
					  <input type="checkbox" name="calibrate_all" id="id_calibrate_all_par" value="boolean">
					  <span class="btnslider round"></span>
					</label>
				</div>
			</div>

	  	<div class="row">
				
				<div class="col-sm-3">
					<label>Choose Specific Period</label>
				</div>

				<div class="col-sm-1 text-right">
					<label class="switch">
					  <input type="checkbox" name="select_date_range" id="id_select_date_range" value="boolean">
					  <span class="btnslider round"></span>
					</label>
				</div>
	  	</div>
			
			<!-- Date picker for period-selectable calibration -->
			<div id="datepicker_calibration" data-toggle="toggled" style="display: none;">
				<div class="row">
					<div class="col-sm-1 text-center">
						<label style="padding-top: 0.3vw; padding-left: 0.8vw;">From: </label>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
	            <div class='input-group date' id='calibrate_from'>
	              <input type='text' class="form-control" disabled/>
	              <span class="input-group-addon">
	                <span class="glyphicon glyphicon-calendar"></span>
	              </span>
	            </div>
	        	</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-1 text-center">
						<label style="padding-top: 0.3vw; padding-left: 0.8vw;">To: </label>
					</div>
					<div class='col-sm-3'>
	        	<div class="form-group">
	            <div class='input-group date' id='calibrate_to'>
	              <input type='text' class="form-control" disabled/>
	              <span class="input-group-addon">
	                <span class="glyphicon glyphicon-calendar"></span>
	              </span>
	            </div>
	        	</div>
			    </div>
			  </div>
			</div>
		  <!-- Date picker for period-selectable calibration END-->

	  	<div class="row">

				<div class="col-sm-2">
					<button class="btn btn-primary" id="pop_bounds_modal" onclick="$('.save_bounds_success').html('');$('#id_bounds').modal('show');">Parameter Range</button>
				</div>

				<div class="col-sm-2">
					<button class="btn btn-primary" id="save_context" onclick="hbv.c.save();">Download Setup</button>
				</div>
				
				<div class="col-sm-2">
					<a role="button" onclick="hbv.c.sample();">Sample Run &#8617;</a>
				</div>

			</div>

	  </div>
	

	  <!-- Plots begin -->
	  <div role="tabpanel" class="tab-pane fade" id="id_pane_plot_q" aria-labelledby="id_dropdown_plot_q">
	  	<h3><small>No plot generated yet...</small></h3>
	  </div>
	  
	  <div role="tabpanel" class="tab-pane fade" id="id_pane_plot_p" aria-labelledby="id_dropdown_plot_p">
	  	<h3><small>No plot generated yet...</small></h3>
	  </div>

	  <div role="tabpanel" class="tab-pane fade" id="id_pane_plot_t" aria-labelledby="id_dropdown_plot_t">
	  	<h3><small>No plot generated yet...</small></h3>
	  </div>

	  <div role="tabpanel" class="tab-pane fade" id="id_pane_plot_etp" aria-labelledby="id_dropdown_plot_etp">
	  	<h3><small>No plot generated yet...</small></h3>
	  </div>

	  <div role="tabpanel" class="tab-pane fade" id="id_pane_plot_gw" aria-labelledby="id_dropdown_plot_gw">
	  	<h3><small>No plot generated yet...</small></h3>
	  </div>

	  <div role="tabpanel" class="tab-pane fade" id="id_pane_plot_st" aria-labelledby="id_dropdown_plot_st">
	  	<h3><small>No plot generated yet...</small></h3>
	  </div>

	  <div role="tabpanel" class="tab-pane fade" id="id_pane_plot_perf" aria-labelledby="id_dropdown_plot_perf">
	  	<h3><small>No plot generated yet...</small></h3>
	  </div>
	  <!-- Plots end -->

	  <div role="tabpanel" class="tab-pane fade" id="id_history">...</div>
	  
	  
	  <div role="tabpanel" class="tab-pane fade" id="id_config_panel">
	  	<br>
			<form id="id_form_configs" class="form-group">
				<div class="row">
					<div class="col-sm-7">

						<div class="" textual>
							CSV Header: <input class="form-control" type="text" name="csvHeaderInput" id="id_csvHeaderInput" value=0 onchange="check_int.call(this);">
						</div>
					
						<div textual>
							CSV Separator: <input class="form-control" type="text" name="csvSeparatorInput" id="id_csvSeparatorInput" value=",">
						</div>

						<div textual>
							Warm up Period: <input class="form-control" type="text" name="warmUpInput" id="id_warmUpInput" value=10 onchange="check_int.call(this);">
						</div>

						<div textual>
							Computation Tolerance: <input class="form-control" type="text" name="tolInput" id="id_tolInput" value="0.001" onchange="check_minimum_float.call(this, mini=0.000001)">
						</div>

					</div>

					<div class="col-sm-1" style="height: 15vw; width: min-content; margin-left: 1.3%; margin-right: 2%; border-right: 1.4px solid rgb(91,192,222);">
					</div>
					
					<div class="col-sm-4 text-right">
						<h4><strong>Configurations</strong></h4>
						<div class="row" style="padding-top: 6%;">
							<div class="col-sm-4 text-left"><label>Residus: </label></div>
							<div class="col-sm-4">
								<label class="radio-inline"><input type="radio" name="objFunctionInput" id="id_RMSE" value="RMSE" checked> RMSE 
								</label>
							</div>

							<div class="col-sm-4">
								<label class="radio-inline"><input type="radio" name="objFunctionInput" value="NSE" id="id_NSE"> NSE 
								</label>
							</div>
						</div>

						<div class="row" style="padding-top: 6%;">
							<div class="col-sm-8 text-left">
								<label>Minimize Residus</label>
							</div>
							<div class="col-sm-4">
								<label class="switch">
								  <input type="checkbox" name="minimise" id="id_minimise" value="boolean" checked>
								  <span class="btnslider round"></span>
								</label>
							</div>
						</div>

						<div class="row" style="padding-top: 6%;">
							<div class="col-sm-8 text-left">
								<label>Verbose Display</label>
							</div>
							<div class="col-sm-4">
								<label class="switch">
								  <input type="checkbox" name="verbose" id="id_verbose" value="boolean">
								  <span class="btnslider round"></span>
								</label>
							</div>
						</div>

						<div class="row" style="padding-top: 6%;">
							<div class="col-sm-8 text-left">
								<label>Scientific Notation</label>
							</div>
							<div class="col-sm-4">
								<label class="switch">
								  <input type="checkbox" name="sci_note" id="id_sci_note" value="boolean" checked>
								  <span class="btnslider round"></span>
								</label>
							</div>
						</div>

						<div class="row" style="padding-top: 6%;">
							<div class="col-sm-8 text-left">
								<label>Initial Guess</label>
							</div>
							<div class="col-sm-4">
								<label class="switch">
								  <input type="checkbox" name="init_guess" id="id_init_guess" value="boolean">
								  <span class="btnslider round"></span>
								</label>
							</div>
						</div>

					</div>
				</div>
			</form>

	  </div>
	</div>
</div>