<div>
	<div class="row">
		<div class="col-sm-8">
			<div>
				<h4 style="padding-bottom: 15px;">Date: <span><strong id="tag_date"></strong></span></h4>
				<table class="table table-responsive table-bordered table-hover text-center" style="border-width: 3px;">
					<thead>
						<tr>
							<th class="text-center">Q<sub>sim</sub></th>
							<th class="text-center">Q<sub>rec</sub></th>
							<th class="text-center">P</th>
							<th class="text-center">EP</th>
							<th class="text-center">SM</th>
							<th class="text-center">UZ</th>
							<th class="text-center">LZ</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td id="q_sim">-</td>
							<td id="q_rec">-</td>
							<td id="prec">-</td>
							<td id="ep">-</td>
							<td id="sm">-</td>
							<td id="uz">-</td>
							<td id="lz">-</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="col-sm-4">
			<div id="div_datepicker_for_plots">

				<h4 class="text-center">Current Selection</h4>
				<hr style="margin-top: 10px; margin-bottom: 20px;">

				<div class="row">
					<div class="col-sm-3 text-center">
						<label style="padding-top: 0.3vw; padding-left: 0.8vw;">Start</label>
					</div>
					<div class="col-sm-9">
						<div class="form-group">
			        <div class='input-group date' id='left'>
			          <input type='text' class="form-control" disabled/>
			          <span class="input-group-addon">
			            <span class="glyphicon glyphicon-calendar"></span>
			          </span>
			        </div>
			    	</div>
					</div>
				</div><!-- /* Closest row -->

				<div class="row">
					<div class="col-sm-3 text-center">
						<label style="padding-top: 0.3vw; padding-left: 0.8vw;">End</label>
					</div>
					<div class='col-sm-9'>
			    	<div class="form-group">
			        <div class='input-group date' id='right'>
			          <input type='text' class="form-control" disabled/>
			          <span class="input-group-addon">
			            <span class="glyphicon glyphicon-calendar"></span>
			          </span>
			        </div>
			    	</div>
			    </div>
			  </div><!-- /* Closest row -->

			</div><!-- /* div_datepicker_for_plots -->
		</div><!-- /* global col-sm-4 -->
	</div><!-- /* Global row -->
</div><!-- /* Global div -->